<div class="container p-5">
  <h1 class="text-center mt-5 mb-5">
    Bootstrap Accordion with Dynamic Data in Angular 12
  </h1>
  <div class="accordion" id="accordionExample">
    <!--ngfor loop started for dynamic data -->
    <div
      class="accordion-item"
      *ngFor="let item of filterData | paginate: config; let i = index"
    >
      <h2 class="accordion-header" [id]="'heading' + i">
        <button
          class="accordion-button"
          [ngClass]="!isSelectedParent ? 'collapsed' : { collapsed: i !== 0 }"
          (click)="getParentId(i)"
          type="button"
          data-bs-toggle="collapse"
          [attr.data-bs-target]="'#collapse' + i"
          aria-expanded="true"
          [attr.aria-controls]="'collapse' + i"
        >
          Item {{ i }}. {{ item.name }}
        </button>
      </h2>
      <div
        [id]="'collapse' + i"
        class="accordion-collapse collapse"
        [ngClass]="isSelectedParent ? { show: i === selectedParent } : ''"
        [attr.aria-labelledby]="'heading' + i"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <strong> {{ item.email }}</strong>
          <br />
          <p class="fst-italic">
            {{ item.body }}
          </p>
        </div>
      </div>
    </div>
  </div>

  <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
</div>
